.all{
    background: rgb(0, 174, 255);
    border: solid white 1px;
}
.menu{
    width: 100%;
    height: 100;
    background-color: aqua;
    margin: 10px;
}
.logo
{
    width: 400%;
    height: 300;
    background-color: aqua;
    margin: 10px;
}
.A{
    width: 100%;
    height: 300px;
    display: flex;
}
.bamer{
    width: 100%;
    height: 200px;
    background-color: red;
    margin: 10px;
}
.search
{
    width: 100%;
    height: 100px;
    background-color: yellow;
    margin: 10px;
}
.main{
    width: 100%;
    height: 100;
    background-color: aqua;
    margin: 10px;
}
.B{
    width: 100%;
    height: 500px;
    display: flex;
}
.left
{
    width: 20%;
    height: 500px;
    background-color: green;
    margin: 10px;
}
.content
{
    width: 60%;
    height: 200px;
    background-color: magenta;
    margin: 10px;
}
.right
{
    width: 20%;
    height: 500px;
    background-color: green;
    margin: 10px;
}
.footer
{
    width: 100%;
    height: 100;
    background-color: aqua;
    margin: 10px;
}
