.all{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgb(72, 73, 73);
}
.A1{
    width: 99%;
    height: 100px;
    background: pink;
    border: 2px solid white;
    margin: 5px;
}
.content{
    width: 100%;
    height: 530px;
    margin: 5px;
}
.content_left{
    width: 49%;
    height: 530px;
    margin: 5px;
    float:left;
}
.A2{
    width: 95%;
    height: 240px;
    background : greenyellow;
    margin: 5px;
    border: 2px solid white;
}
.R345{
    width: 100%;
    height: 245px;

}
.R34{
    width: 49%;
    height: 245px;
    margin: 5px;
    float:left;
}

.A3{
    width: 99%;
    height: 90px;
    background: red;
    margin: 5px;
    border: 2px solid white;
}
.A4{
    width: 99%;
    height: 135px;
    background: chocolate;
    border: 2px solid white;
    margin: 5px;
}
.A5{
    width: 45%;
    height: 235px;
    background: magenta;
    border: 2px solid white;
    margin: 5px;
    float:left;
}
.content_right{
    width: 50%;
    height: 530x;
    float: left;
}
.R67{
    width: 100%;
    height: 100px;
    display: flex;
}
.A6{
    width: 75%;
    height: 85px;
    background: mediumslateblue;
    border: 2px solid white;
    margin:5px;
}
.A7{
    width: 18%;
    height: 85px;
    background: green;
    border: 2px solid white;
    margin: 5px;
}
.A8{
    width: 95%;
    height: 65px;
    background: yellow;
    border: 2px solid white;
    margin: 3px;
}
.R91011{
    width: 99%;
    height: 250px;
    display: flex;
}
.A9{
    width: 30%;
    height: 240px;
    background: red;
    border: 2px solid white;
    margin: 5px;
}
.A10{
    width: 30%;
    height: 240px;
    background: orange;
    border: 2px solid white;
    margin: 5px
}
.A11{
    width: 30%;
    height: 240px;
    background: blue;
    border: 2px solid white;
    margin: 5px
}
.A12{
    width: 98%;
    height: 55px;
    background: coral;
    border: 2px solid white;
    margin: 5px
}
.A13{
    width: 99%;
    height: 50px;
    background: black;
    border: 2px solid white;
    margin: 5px;
}
